/* Write your CSS code here */
* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}
.bg-con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.short-c0ntainer {
  background-color: white;
  box-shadow: 0px 4px 16px 0px #bfbfbf;
  height: 280px;
  width: 400px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.scon {
  margin-top: 150px;
  margin-bottom: 50px;
}
h1 {
  text-align: center;
  margin-bottom: 25px;
  color: #ea580c;
  font-size: 36px;
  font-weight: 500;
}
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.label-text {
  margin-top: 20px;
  margin-bottom: 20px;
}
button {
  background-color: #ea580c;
  height: 30px;
  width: 80px;
  border: 0;
  border-radius: 6px;
  color: white;
}
input {
  height: 30px;
  width: 200px;
  border-radius: 5px;
  border: 2px solid #cbd2d9;
}
.short-c0ntainer2 {
  background-color: white;
  box-shadow: 0px 4px 16px 0px #bfbfbf;
  height: 280px;
  width: 400px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  margin-bottom: 50px;
}
.anotherresponse {
  background-color: #ea580c;
  height: 30px;
  width: 100%;
  border: 0;
  border-radius: 6px;
  color: white;
  background-size: cover;
}
.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
